*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.user text eol=crlf
*.bat text eol=crlf
Makefile text eol=lf

# Normalize line endings for all text files (CRLF on Windows, LF on Linux/mac)
* text=auto
